$primary: #282c34;

*{
    box-sizing: border-box;
}
.list {
  background-color: lighten($color: $primary, $amount: 4);
  min-width: 30vh;
  padding: 1em;
  border-radius: 7px;
  box-shadow: 0 0 35px rgba($color: black, $alpha: 0.3);
  &__item {
    font-size: 1.2em;
  }
  &__input {
    margin-top: 1em;
    &__text {
      background-color: lighten($color: $primary, $amount: 30);
      border-radius: 5px;
      border: 0;
      height: 30px;
      min-width: 30vh;
      font-size: 1.2rem;
      padding: 0 10px;
    }
  }
}
